@import "ui-variables";

.irc-status { color: @text-color-subtle; }
.irc-status.connected { color: @text-color; }
.irc-status.error { color: @text-color-error; }
.irc-status.notify { color: @text-color-warning; }
